footer {
    background-color: #4f296b; 
    color: #4f296b; 
    text-align: center; 
    padding: 20px 0; 
    font-family: Arial, sans-serif; 
    position: fixed; 
    left: 0;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px #4f296b; 
}

footer p {
    margin: 0; 
    font-size: 14px; 
}

footer p:hover {
    text-decoration: underline; 
    cursor: pointer;
}